@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap'); /* Roboto Slab */

body {
    margin: 0;
}

/* NAVIGATION BAR */

#nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #3E5E20;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #2e4718;
}

.nav-link, .dropdown-link {
    text-decoration: none;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 15px;
    border-radius: 5px;
    font-family: 'Roboto Slab';
    font-size: 18px;
    outline: none;
    transition: 0.3s ease;
    display: inline-block;
    cursor: pointer;
}

.nav-link:hover {
    /* make background lighter and move button up slightly when mouse hovers over it */
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-3px);
}

.nav-link:active .dropdown-link:active {
    /* make background much lighter momentarily when clicked */
    background: rgba(255, 255, 255, 0.75);
}

.dropdown-link {
    border-radius: 0;
    min-width: 125px;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdown-link:hover {
    background: rgba(255, 255, 255, 0.5);
}

#people-dropdown {
    position: relative;
    transition: 0.3s;
}

#people-dropdown-content {
    display: none;
    position: absolute;
    background: #3E5E20;
    border: 2px solid #2E4719;
    border-radius: 0 0 10px 10px;
}

#people-dropdown:hover #people-dropdown-content {
    display: block;
    animation: dropdownIn 0.2s ease-out;
}

@keyframes dropdownIn {
    from { opacity: 0; transform: translateY(-3px); }
    to { opacity: 1; transform: translateY(0); }
}