@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap'); /* Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;700&display=swap'); /* Bebas Neue */


/* GENERAL STYLING */
body {
    margin: 0;
}

h1 {
    font-family: Bebas Neue;
    font-size: 37px;
    color: #3E5E20;
    transition: 0.3s;
}

p {
    font-family: Roboto Slab;
    font-size: 18px;
    color: #362314;
}

/* NAVIGATION BAR */

#nav-bar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: #3E5E20;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #2e4718;
}

.nav-link, .dropdown-link {
    text-decoration: none;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 15px;
    border-radius: 5px;
    font-family: 'Roboto Slab';
    font-size: 18px;
    outline: none;
    transition: 0.3s ease;
    display: inline-block;
    cursor: pointer;
}

.nav-link:hover {
    /* make background lighter and move button up slightly when mouse hovers over it */
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-3px);
}

.nav-link:active .dropdown-link:active {
    /* make background much lighter momentarily when clicked */
    background: rgba(255, 255, 255, 0.75);
}

.dropdown-link {
    border-radius: 0;
    min-width: 125px;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdown-link:hover {
    background: rgba(255, 255, 255, 0.5);
}

#people-dropdown, #projects-dropdown, #purpose-dropdown, #places-dropdown, #part-dropdown {
    position: relative;
}

#people-dropdown-content, #projects-dropdown-content, #purpose-dropdown-content, #places-dropdown-content, #part-dropdown-content {
    display: none;
    position: absolute;
    background: #3E5E20;
    border: 2px solid #2E4719;
    border-radius: 0 0 10px 10px;
}

#people-dropdown:hover #people-dropdown-content, 
#projects-dropdown:hover #projects-dropdown-content,
#purpose-dropdown:hover #purpose-dropdown-content,
#places-dropdown:hover #places-dropdown-content,
#part-dropdown:hover #part-dropdown-content {
    display: block;
}

/* SPACER */
#spacer {
    width: 100%;
    height: 100px;
}

/* VISION AND VALUES SECTION */
#vision-and-values {
    display: flex;
    justify-content: space-evenly;
}

#vision, #values {
    width: 45%;
    background: rgba(129, 166, 50, 0.5);
    padding: 10px;
    transition: 0.3s;
}

#vision:hover, #values:hover {
    background: rgba(129, 166, 50, 0.75);
}

#vision:hover h1, #values:hover h1 {
    font-size: 40px;
}

/* styling for mobile devices */
@media (max-width: 425px) {
    /* NAV BAR */
    #nav-bar {
        justify-content: center;
        padding: 10px 8px;
        gap: 10px 20px;
    }

    .nav-link, .dropdown-link {
        font-size: 15px;
        padding: 6px 10px;
    }

    /* VISION AND VALUES */
    #vision-and-values {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        margin: 0px 20px;
        margin-top: 10px;
    }

    #vision, #values {
        width: 100%;
        box-sizing: border-box;
    }
}